@model DjSite.Models.Musica

@{
    ViewBag.Title = "ArmarLista";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



    <div class="under_header">
        <img src="@Url.Content("~/Content/MyTemplate/")images/assets/breadcrumbs2.png" alt="#">
    </div><!-- under header -->

    <div class="page-content back_to_up">

        <div class="row forum clearfix mb">
            <div class="def-block">
                <h2>Buscador Musical<small> Ingresa Artista o Canción </small></h2>
                <div class="search-forum">
                    <form id="search-forum">
                        <input type="text" onfocus="if (this.value == 'Empieza a buscar...') {this.value = '';}" onblur="if (this.value == '')  {this.value = 'Empieza a buscar...';}" value="Empieza a buscar..." id="termino">
                        <button type="submit" id="enviarLista"> Guardar</button> 
                    </form>
                </div><!-- search forum -->
            </div><!-- block -->
        </div><!-- row -->

        <div class="row row-fluid forum clearfix mbf">
            <div class="span9 posts">
                <div class="def-block clearfix">
                    <div class="mbf clearfix">
                        <table class="table"id="resultados">
                            <thead> <tr> <th>#</th> <th>Artista</th> <th>Album</th> <th>Tema</th> </tr> </thead>
                            <tbody>                               
                            </tbody>
                        </table>
                    </div>                 
                    
                  

                </div><!-- def block -->
            </div><!-- span9 posts -->

            <div class="span3 sidebar">
                <div class="def-block widget">
                    <h4> Crea tu lista </h4><span class="liner"></span>
                    <div class="widget-content">
                        <p>Selecciona toda la música que te gustaria que suene en tu fiesta y luego clickea guardar, puedes actualizar la lista durante toda la semana</p>
                    </div><!-- widget content -->
                </div><!-- def block widget text -->
                <div class="def-block widget">
                    <h4> Ranking Musical </h4><span class="liner"></span>
                    <div class="widget-content clearfix">
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12172370310%3Aplaylist%3A5wqUEngWBQjeOI0szUzGRw" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    </div><!-- widget content -->
                </div><!-- def block widget Login -->

               

            </div><!-- span3 sidebar -->
        </div><!-- row clearfix -->
    </div><!-- end page content -->
   


<script type="text/javascript">
    var carrito = [];
    jQuery(function () {
        var options = {
            url: "https://itunes.apple.com/search?",
            getValue: "artistName",
            listLocation: "results",
            ajaxSettings: {
                dataType: "jsonp",
                method: "get",
                data: {
                    dataType: "json"
                }
            },
            preparePostData: function (data) {
                data.term = jQuery("#termino").val();
                data.entity = "musicArtist";
                return data;
            },
            list: {
                onHideListEvent: function () {
                    buscar(jQuery("#termino").val());
                }
            }
        };

        jQuery("#termino").easyAutocomplete(options);
        jQuery('#resultados').on('click', '.choice', function () {
            carrito.push(jQuery(this).val() + ';');
            jQuery.ajax({
                url: '@Url.Content("~/Home/Enviar")',
                type: 'post',
                data: carrito
            })
        });
        function buscar(termino) {
            termino = termino.replace(" ", "+");
            console.log(termino);
            var urlBusca = 'https://itunes.apple.com/search?term=' + termino;
            jQuery.ajax({
                url: urlBusca,
                dataType: "jsonp"
            }).done(function (json) {
                var resultado = json.results;
                var html = '';
                jQuery.each(resultado, function (i, item) {
                    html += '<tr> <th scope="row"><input class="choice" type="checkbox" value="' + item.artistName + '|' + item.trackName + '"></th> <td>' + item.artistName + '</td> <td>' + item.collectionName + '</td> <td>' + item.trackName + '</td> </tr>';
                });
                jQuery('#resultados >tbody').html(html);
            });
        };

        jQuery('#enviarLista').click(function () {
            var lista = carrito.toString();
            jQuery.ajax({
                url: '@Url.Content("~/Home/Enviar")',
                type: 'POST',
                data: { Lista: lista }
            }).done(function (json) {

            });
        });
    });
</script>