
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div id="layout" class="full">
    <!-- popup login -->
    <div id="popupLogin">
        <div class="def-block widget">
            <h4> Login </h4><span class="liner"></span>
            <div class="widget-content row-fluid">
                <form id="popup_login_form">
                    <input type="text" name="login_username" id="login_username" onfocus="if (this.value=='username') this.value = '';" onblur="if (this.value=='') this.value = 'Usuario';" value="Usuario" placeholder="Usuario">
                    <input type="password" name="login_password" id="login_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="Password">
                    <a href="#" class="tbutton small"><span>Iniciar Sesión</span></a>
                    <a href="#" class="tbutton color2 small"><span>Registrarse</span></a>
                </form><!-- login form -->
            </div><!-- content -->
        </div><!-- widget -->
        <div id="popupLoginClose">x</div>
    </div><!-- popup login -->
    <div id="LoginBackgroundPopup"></div>
    <!-- popup login -->

    <header id="header" class="glue">
        <div class="row clearfix">
            <div class="little-head">
                <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Iniciar Sesión</span></div>

                <div class="social social-head">
                    <a href="https://twitter.com/diversiondj" class="bottomtip" title="Sigueme en Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="https://www.facebook.com/Diversion-Dj-81993277783/" class="bottomtip" title="Like Facebook" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="https://plus.google.com/" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                    <a href="https://www.instagram.com/diversiondj/" class="bottomtip" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="https://soundcloud.com/diversiondj" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                    <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                </div><!-- end social -->

                <div class="search">
                    <form action="search.html" id="search" method="get">
                        <input id="inputhead" name="search" type="text" onfocus="if (this.value == 'Empezar a buscar...') this.value = '';" onblur="    if (this.value == '') this.value = 'Empezar a buscar...';" value="Empezar a buscar..." placeholder="Empezar a buscar...">
                        <button type="submit"><i class="icon-search"></i></button>
                    </form><!-- end form -->
                </div><!-- search -->
            </div><!-- little head -->
        </div><!-- row -->

        <div class="headdown">
            <div class="row clearfix">
                <div class="logo bottomtip" title="Diversion Dj">
                    <a href="#"><img src="@Url.Content("~/Content/MyTemplate/")images/logo.png" alt="DiversionDj"></a>
                </div><!-- end logo -->

                <nav>
                    <ul class="sf-menu">
                        <li class="current selectedLava">
                            <a href="Index">Home<span class="sub">Comienza aquí</span></a>
                            <ul>
                                <li><a href="index_revolution.html">Noticias</a></li>
                                <li><a href="events.html">Eventos</a></li>
                                <li><a href="index_modern.html">Acerca de mi</a></li>
                            </ul>
                        </li>

                        <li><a href="mp3s.html">Musica<span class="sub">Escuchame</span></a></li>
                        <li><a href="videos.html">Video<span class="sub">Algunos demos</span></a></li>
                        <li>
                            <a href="Galeria">Galeria<span class="sub">Galeria de Fotos</span></a>
                            <ul>
                                <li><a href="Galeria">Galeria</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Contacto">Contacto<span class="sub">Arma tu Fiesta</span></a>
                            <ul>
                                <li><a href="Contacto">Envia tu Consulta</a></li>
                                <li><a href="rtl.html">Crea tu lista</a></li>
                                <li><a href="mp3_single_wide.html">Foro</a></li>

                            </ul>
                        </li>
                    </ul><!-- end menu -->
                </nav><!-- end nav -->
            </div><!-- row -->
        </div><!-- headdown -->
    </header><!-- end header -->

    <div class="under_header">
        <img src="images/assets/breadcrumbs12.png" alt="#">
    </div><!-- under header -->

    <div class="page-content back_to_up">
      

        <div class="row row-fluid clearfix mbf">
            <div class="def-block clearfix">
                <h4> Contacto </h4><span class="liner"></span>

                <div class="grid_6 mt">
                    <p>Cualquier consulta o sugerencia no dudes en contactarme </p>
                    <p>Reservas - Asesoría - Cotización </p>
                    <p>Fono: <strong> +569 88190847 </strong> <br> Email: <strong>diversiondj@gmail.com</strong></p>
                </div><!-- end grid6 -->

                <div class="grid_6 mt">
                    <form method="post" id="contactForm" action="processForm.php">
                        <div class="clearfix">
                            <div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName" placeholder="Nombre *" class="requiredField" /></div>
                            <div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail" placeholder="Correo Electronico *" class="requiredField email" /></div>
                        </div>
                        <div><textarea name="message" id="message" placeholder="Mensaje *" class="requiredField" rows="8"></textarea></div>
                        <input type="submit" id="sendMessage" name="sendMessage" value="Enviar Mensaje" />
                        <span>  </span>
                    </form><!-- end form -->
                </div><!-- end grid6 -->

            </div><!-- def block -->

        </div><!-- row clearfix -->
    </div><!-- end page content -->
    <footer id="footer">
        <div class="footer-last">
            <div class="row clearfix">
                <span class="copyright">© 2016 by DiversionDj. All Rights Reserved.</span>
                <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
                <div class="foot-menu">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="mp3s.html">Música</a></li>
                        <li><a href="videos.html">Video</a></li>
                        <li><a href="Galeria">Galeria</a></li>
                        <li><a href="Contacto">Contacto</a></li>
                    </ul><!-- end links -->
                </div><!-- end foot menu -->
            </div><!-- row -->
        </div><!-- end last -->

    </footer><!-- end footer -->
</div>