
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    }


    <div class="under_header">
     
    </div><!-- under header -->

    <div class="page-content back_to_up">      

        <div class="row row-fluid clearfix mbf">
            <div class="def-block clearfix">
                <h4> Contacto </h4><span class="liner"></span>

                <div class="grid_6 mt">
                    <p>Cualquier consulta o sugerencia no dudes en contactarme </p>
                    <p>Reservas - Asesoría - Cotización </p>
                    <p>Fono: <strong> +569 88190847 </strong> <br> Email: <strong>diversiondj@gmail.com</strong></p>
                </div><!-- end grid6 -->

                <div class="grid_6 mt">
                    <form method="post" id="contactForm" action="processForm.php">
                        <div class="clearfix">
                            <div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName" placeholder="Nombre *" class="requiredField" /></div>
                            <div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail" placeholder="Correo Electronico *" class="requiredField email" /></div>
                        </div>
                        <div><textarea name="message" id="message" placeholder="Mensaje *" class="requiredField" rows="8"></textarea></div>
                        <input type="submit" id="sendMessage" name="sendMessage" value="Enviar Mensaje" />
                        <span>  </span>
                    </form><!-- end form -->
                </div><!-- end grid6 -->

            </div><!-- def block -->

        </div><!-- row clearfix -->
    </div><!-- end page content -->
  