<div>
    <h4> Noticias</h4>
    <div>
        noticia 1
        <a href="#" id="leerA"><span>Leer más</span></a>
    </div>
    <div>
        noticia 2
        <a href="#" id="leerB"><span>Leer más</span></a>
    </div>
    <div>
        noticia 3
        <a href="#" id="leerC"><span>Leer más</span></a>
    </div>
</div>
