@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div id="layout" class="full">
    <!-- popup login -->
    <div id="popupLogin">
        <div class="def-block widget">
            <h4> Login </h4><span class="liner"></span>
            <div class="widget-content row-fluid">
                <form id="popup_login_form">
                    <input type="text" name="login_username" id="login_username" onfocus="if (this.value=='username') this.value = '';" onblur="if (this.value=='') this.value = 'Usuario';" value="Usuario" placeholder="Usuario">
                    <input type="password" name="login_password" id="login_password" onfocus="if (this.value=='password') this.value = '';" onblur="if (this.value=='') this.value = 'password';" value="password" placeholder="Password">
                    <a href="#" class="tbutton small"><span>Iniciar Sesión</span></a>
                    <a href="#" class="tbutton color2 small"><span>Registrarse</span></a>
                </form><!-- login form -->
            </div><!-- content -->
        </div><!-- widget -->
        <div id="popupLoginClose">x</div>
    </div><!-- popup login -->
    <div id="LoginBackgroundPopup"></div>
    <!-- popup login -->

    <header id="header" class="glue">
        <div class="row clearfix">
            <div class="little-head">
                <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Iniciar Sesión</span></div>

                <div class="social social-head">
                    <a href="https://twitter.com/diversiondj" class="bottomtip" title="Sigueme en Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="https://www.facebook.com/Diversion-Dj-81993277783/" class="bottomtip" title="Like Facebook" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="https://plus.google.com/" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                    <a href="https://www.instagram.com/diversiondj/" class="bottomtip" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="https://soundcloud.com/diversiondj" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                    <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                </div><!-- end social -->

                <div class="search">
                    <form action="search.html" id="search" method="get">
                        <input id="inputhead" name="search" type="text" onfocus="if (this.value == 'Empezar a buscar...') this.value = '';" onblur="    if (this.value == '') this.value = 'Empezar a buscar...';" value="Empezar a buscar..." placeholder="Empezar a buscar...">
                        <button type="submit"><i class="icon-search"></i></button>
                    </form><!-- end form -->
                </div><!-- search -->
            </div><!-- little head -->
        </div><!-- row -->

        <div class="headdown">
            <div class="row clearfix">
                <div class="logo bottomtip" title="Diversion Dj">
                    <a href="#"><img src="@Url.Content("~/Content/MyTemplate/")images/logo.png" alt="DiversionDj"></a>
                </div><!-- end logo -->

                <nav>
                    <ul class="sf-menu">
                        <li class="current selectedLava">
                            <a href="Index">Home<span class="sub">Comienza aquí</span></a>
                            <ul>
                                <li><a href="index_revolution.html">Noticias</a></li>
                                <li><a href="events.html">Eventos</a></li>
                                <li><a href="index_modern.html">Acerca de mi</a></li>
                            </ul>
                        </li>

                        <li><a href="mp3s.html">Musica<span class="sub">Escuchame</span></a></li>
                        <li><a href=@Url.Content("~/Home/Videos")>Video<span class="sub">Algunos demos</span></a></li>
                        <li>
                            <a href=@Url.Content("~/Home/Galeria")>Galeria<span class="sub">Galeria de Fotos</span></a>
                            <ul>
                                <li><a href=@Url.Content("~/Home/Galeria")>Galeria</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Contacto<span class="sub">Arma tu Fiesta</span></a>
                            <ul>
                                <li><a href=@Url.Content("~/Home/Contacto")>Envia tu Consulta</a></li>
                                <li><a href=@Url.Content("~/Home/ArmarLista")>Crea tu lista</a></li>
                                <li><a href="mp3_single_wide.html">Foro</a></li>

                            </ul>
                        </li>
                    </ul><!-- end menu -->
                </nav><!-- end nav -->
            </div><!-- row -->
        </div><!-- headdown -->
    </header><!-- end header -->

    <div class="under_header">
        <img src="@Url.Content("~/Content/MyTemplate/")images/assets/breadcrumbs2.png" alt="#">
    </div><!-- under header -->

    <div class="page-content back_to_up">
        <div class="row clearfix mb">
            <div class="breadcrumbIn">
                <ul>
                    <li><a href="index.html" class="toptip" title="Homepage"> <i class="icon-home"></i> </a></li>
                    <li><a href="videos.html"> Videos </a></li>
                    <li> Video Single Wide </li>
                </ul>
            </div><!-- breadcrumb -->
        </div><!-- row -->

        <div class="row row-fluid clearfix mbf">
            <div class="posts">
                <div class="def-block">
                    <div class="post row-fluid clearfix">
                        @*<iframe src="https://player.vimeo.com/video/166570821?title=1&amp;byline=1&amp;portrait=1" height="500"></iframe>*@
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xFutjZEBTXs" frameborder="0" ></iframe>
                        <h3 class="post-title">DUELE EL CORAZÓN (FEAT. WISIN)</h3>
                        <p>El cantante español Enrique Iglesias estrenó su nueva canción, Duele el corazón, en la que cuenta con la colaboración del reguetonero puertorriqueño Wisin. Con Duele el corazón, Enrique Iglesias busca hacerse nuevamente con la titularidad en los principales ranking a nivel mundial, después de sus éxitos Bailando, en 2014, y El perdón, en 2015.</p>

                        <p>
                            <span> Tags: </span>
                            <a href="#" class="#"> video </a>,
                            <a href="#" class="#"> player </a>,
                            <a href="#" class="#"> youtube </a>,
                            <a href="#" class="#"> vimeo </a>
                        </p><!-- tags -->

                        <div class="meta">
                            <span> <i class="icon-user mi"></i> Admin </span>
                            <span> <i class="icon-time mi"></i>20 de Julio, 2016 10:00 AM </span>
                        </div><!-- meta -->


                        <div class="like-post">
                            <div id="fb-root"></div>
                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="80" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                        </div><!-- like -->
                    </div><!-- post -->

                 
              
                </div><!-- def block -->
            </div><!-- span8 posts -->

        </div><!-- row clearfix -->
    </div><!-- end page content -->
    <footer id="footer">
        <div class="footer-last">
            <div class="row clearfix">
                <span class="copyright">© 2016 by DiversionDj. All Rights Reserved.</span>
                <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
                <div class="foot-menu">
                    <ul>
                        <li><a href="@Url.Content("~/Home/Index")">Home</a></li>
                        <li><a href="mp3s.html">Música</a></li>
                        <li><a href="@Url.Content("~/Home/Videos")">Video</a></li>
                        <li><a href=@Url.Content("~/Home/Galeria")>Galeria</a></li>
                        <li><a href=@Url.Content("~/Home/Contacto")>Contacto</a></li>
                    </ul><!-- end links -->
                </div><!-- end foot menu -->
            </div><!-- row -->
        </div><!-- end last -->

    </footer><!-- end footer -->
</div>